

// .containt-img
// {
//     // margin: 0;
// }

.title-niv1
    
{
    color:var(--white);
  
}

.img-child
{ 
    width: 100%;
    height: 500px;
}

.conten-img
{
    position: relative;
    top: -30em;
    padding: 5em;
    height: 300px;



    .text-img
    {
        @extend .title-niv1;
        color: var(--white);
    }

   
    .btn-postuler_mtn
    {      
        
        
        height: 45px;
        width: 300px;
    }
}

.part2
{

    height: 1000px;
    position: relative;
    top: -30em;
    padding: 5rem;

    .top-text
    {
        position: relative;
        top: -2em;
    }
}

.btn-part2
{
    position: relative;
    top: -2em;

    .btn-angular,.btn-php
    {
    top: 25px;
    width: 80px;
    }


   
    .depla-part
{
    
    box-sizing: border-box;
    border: 1px solid #D5E3EC;
    height: 310px;
    width: 350px;
    
}
}

.text-description
{
    flex-wrap: wrap;
    font-size: 16px;
}


.child1-job-detail
{
    position: relative;
    top: -41em;
    flex-wrap: wrap;
    justify-content: flex-end; 
    display: grid;
    grid-template-rows: 12em 12em 12em;
    
    .depla-card
    {
        height: 190px;
        width: 330px;  
    }

    .topbar-aimer
    {
        position: relative;
        top: -11.5em;
        
    }

    .devlop-full-stack
    {
        position: relative;
        top: -3em;
        color: var(--primary-color);
        flex-wrap: wrap;
    }

    .card-job-detail
    {
        position: relative;
        top: -22em;
        padding-left: 5em;

        .img-flower
        {
            width: 3em;
            height: 3em;
            position: relative;
            left: -5em;
        }

        .sous-text-job-detail
        {
            position: relative;
            top: -4.5em;
            line-height: 34px;
        }
    }


}

.btn-php-angular
{
    display: flex;
    gap: var(--gap-L1);

}

.btn-technologi-job-detail
{
    @extend .btn-php-angular;
}
