.card-profile
{
    padding: 5em;
    line-height: 23px;
    position: relative;
    top: -3em;
   
    .mes-info
    {
        color: #241744;
        width: 300px;
    }

    .top-card
    {
        position: relative;
        left: 3em;
        
        line-height: 2em;
    }


}



